@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-size: 16px;
  color: grey;
  background-color: black;
  @apply font-Tahoma text-center;
}

img {
  @apply text-transparent;
}

.animatedEl {
  animation-name: sliderRightToLeft;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.21, 0.89, 0.84, 0.17);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hamm-animation {
  animation-name: switchHamm;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}

.rotatedEl {
  position: absolute;
  top: 50%;
  right: -13%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%) rotate(45deg);
  @apply bg-grey;
}

@responsive {
  .text-shadow-red {
    text-shadow: 0px 0px 10px #dc143c;
  }

  .text-shadow-violet {
    text-shadow: 0px 0px 10px #673ab7;
  }

  .text-shadow-blue {
    text-shadow: 0px 0px 10px #4cefd8;
  }

  .text-shadow-crimson {
    text-shadow: 0px 0px 10px #f72585;
  }
}

@keyframes sliderRightToLeft {
  from {
    margin-left: -50%;
  }

  to {
    display: none;
    margin-left: 120%;
  }
}

@keyframes switchHamm {
  0% {
    opacity: 100%;
  }
  2% {
    opacity: 10%;
  }

  4% {
    opacity: 100%;
  }
  6% {
    opacity: 10%;
  }

  12% {
    opacity: 100%;
  }
  14% {
    opacity: 10%;
  }

  28% {
    opacity: 100%;
  }
  30% {
    opacity: 10%;
  }

  60% {
    opacity: 100%;
  }
  62% {
    opacity: 20%;
  }

  100% {
    opacity: 0%;
  }
}

@for $i from 1 through 100 {
  .animatedEl:nth-of-type(#{$i}) {
    animation-name: sliderRightToLeft;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.21, 0.89, 0.84, 0.17);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-delay: random() * 6 + s;
    animation-delay: random() * 6 + s;
  }
}
